.blog {
    padding: 50px 0 50px;
}
.blog-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 45px;
    &__link {
        font-size: 16px;
        color: #262626;
    }
}
.blog-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.blog-item {
    padding-right: 10px;
    &__img {
        margin-bottom: 30px;
        object-fit: cover;
    }
    &__box {
        max-width: 315px;
        padding-left: 30px;
        position: relative;
    }
    &__title {
        font-size: 18px;
        color: #262626;
        @extend %DMSans-500;
        margin-bottom: 15px;
        height: 80px;
    }
    &__info {
        font-size: 12px;
        line-height: 30px;
        text-transform: uppercase;
        @extend %Rubik-400;
        color: #222933;
        border-top: 1px solid #e0e0e0;
        padding-top: 20px;
    }
    &__date {
        margin-right: 30px;
    }
    &__author,
    &__date {
        @extend %Rubik-400;
        color: #222933;
    }
    &__box--news {
        position: absolute;
        top: -46px;
        left: 28px;
        font-size: 14px;
        line-height: 20px;
        color: #fff;
        border-radius: 15px;
        background-color: #a3bbc8;
        padding: 5px 31px;
        text-transform: uppercase;
        @extend %Rubik-500;
    }
    &__img-info {
        display: inline-block;
        vertical-align: sub;
        margin-right: 5px;
    }
}
@media (max-width: 1250px) {
    .blog-items {
        justify-content: center;
    }
    .blog-item{
        margin-bottom: 20px;
        &__info{
            padding-top: 0;
        }
    }    
}
@media (max-width: 850px) {
    .blog{
        padding-top: 0;
    }
}