html,
body {
    height: 100%;
}

body {
    background-color: #fff;
    font-size: 16px;
    color: $default;
    display: flex;
    flex-direction: column;
    @extend %DMSans-700;
}
main {
    flex-grow: 1;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.wide {
    max-width: 1800px;
}

a {
    // color: #7b7b7b;
    // color: #243f4d;
}
.title {
    color: #1a1a1a;
    font-size: 36px;
}
.top__title {
    @extend %Rubik-300;
    color: #222933;
    line-height: 24px;
    margin-bottom: 15px;
}
.breadcrumbs {
    &__list {
        display: flex;
        justify-content: center;
    }
    &__item {
        margin-right: 20px;
        @extend %Rubik-400;
        color: #83898f;
        position: relative;
        &::after {
            content: "/";
            position: absolute;
            right: -14px;
            top: 0;
        }
        &:last-child {
            margin-right: 0;
            &::after {
                display: none;
            }
        }
    }
    &__link {
        font-size: 14px;
        line-height: 24px;
        color: inherit;
    }
}
.pagination {
    padding-bottom: 60px;
    @extend %Rubik-400;
    display: flex;
    justify-content: center;
    align-items: center;
    &__list {
        display: flex;
        align-items: center;
    }
    &__item {
        margin-right: 15px;
    }
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 1px $accend;
        // display: inline-block;
        background-color: #fff;
        //  padding: 19px 20px;
        width: 50px;
        height: 50px;
        color: #243f4d;
    }
    &__link--active {
        background-color: $accend;
        color: #fff;
    }
    &__next {
        width: 74px;
    }
    &__left{
        justify-content: start;
        margin-left: -63px;
    }
}
 