@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";
@import "../module/_header/_header";
@import "../module/_footer/_footer";
@import "../module/_partners/_partners";
@import "../module/_filter-category/_filter-category";
@import "../module/_filter-price/_filter-price";
@import "../module/_filter-brand/_filter-brand";
@import "../module/_filter-recent/_filter-recent";
@import "../module/_product/_product";
@import "../module/_shop-grid/_shop-grid";

.shop {
    padding-bottom: 100px;
    &__inner {
        display: flex;
        margin-bottom: 100px;
    }
    &__filtres {
        width: 270px;
    }
    &__filter-btn {
        display: none;
        border: none;
        background-color: transparent;
        padding: 0;
    }

}
.filter__item {
    @extend %Rubik-400;
}
.filter__title {
    @extend %DMSans-700;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 25px;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        width: 38px;
        height: 2px;
        background-image: url("../images/icons/filter-after.svg");
    }
}
@media (max-width: 1150px) {
    .shop {
        &__filter-btn {
            display: block;
            position: fixed;
            right: 0;
            bottom: 50px;
            z-index: 101;
        }
        &__filtres {
            display: none;
            position: absolute;
            // width: 100%;
            z-index: 100;
            background-color: #fff;
            left: 20px;
            top: 20px;
        }
        &__inner{
            display: block;
            width: 100%;
        }
    }
    .shop-content{
        padding: 0;
        &__inner{
            grid-template-columns: repeat(3, 1fr);
        }
    }
}
@media (max-width: 900px) {
    .shop-content{
        &__inner{
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 30px;
        }
    }
}
@media (max-width: 450px) {
    .shop-content{
        &__inner{
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 15px;

        }
    }
}
