@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";
@import "../module/_header/_header";
@import "../module/_footer/_footer";
@import "../module/_partners/_partners";
@import "../module/_filter-category/_filter-category";
@import "../module/_filter-price/_filter-price";
@import "../module/_filter-brand/_filter-brand";
@import "../module/_filter-recent/_filter-recent";
@import "../module/_product/_product";
@import "../module/_shop-grid/_shop-grid";
@import "shop-1";

.product-item {
    @extend %Rubik-400;
    padding: 80px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__info {
        max-width: 435px;
        // overflow: hidden;
        // &:hover {
        //     background-color: #fff;
        //     .product-item__add {
        //         transform: translateX(0);
        //     }
        // }
    }
    &__img {
        width: 325px;
        margin-right: 80px;
    }
    &__name {
        font-size: 40px;
        line-height: 26px;
        color: #333;
        margin-bottom: 20px;
    }
    &__price {
        font-size: 30px;
        line-height: 45px;
        color: #333;
        margin-bottom: 25px;
    }
    &__text {
        line-height: 30px;
        margin-bottom: 30px;
    }
    &__link-box {
        display: flex;
        // position: relative;
        // overflow: hidden;
        // &:hover {
        //     .product-item__add {
        //         transform: translateX(0);
        //     }
        // }
    }
    &__link,
    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
    }
    &__add {
        // position: absolute;
        // text-transform: uppercase;
        // color: #fff;
        // font-size: 15px;
        // background-color: $accend;
        // padding: 19px 50px 20px 52px;
        // border-radius: 5px;
        // border: none;
        transform: translateX(-200%);
        transition: all 0.3s;
        // opacity: 0;
        display: none;
    }
    .product-item__link--active {
        display: block;
        position: absolute;
        text-transform: uppercase;
        color: #fff;
        font-size: 15px;
        background-color: $accend;
        padding: 19px 50px 20px 52px;
        border-radius: 5px;
        border: none;
        width: 200px;
        // transform: translateX(0%);
        transition: all 0.3s;
        z-index: 100;
        cursor: pointer;
        overflow: hidden;
        path {
            fill: $accend;
        }
        &::before {
            content: "Add to cart";
            top: 0;
            left: 0;
        }
    }
    // &__add--active {
    //     display: block;
    //     position: absolute;
    //     text-transform: uppercase;
    //     color: #fff;
    //     font-size: 15px;
    //     background-color: $accend;
    //     padding: 19px 50px 20px 52px;
    //     border-radius: 5px;
    //     border: none;
    //     transform: translateX(0%);
    //     transition: all 0.3s;
    //     z-index: 100;
    //     cursor: pointer;
    // }
    &__link {
        border: none;
        cursor: pointer;
        background-color: $accend;
        margin-right: 10px;
        &:hover {
            // background-color: #fff;
            .product-item__add {
                // transform: translateX(0);
                // display: block;
            }
        }
    }
    &__btn {
        border: none;
        background-color: #fff;
    }
}
.star__product {
    margin-bottom: 25px;
}
// @media (max-width: 1160px) {
//     .shop {
//         &__filter-btn {
//             display: block;
//             position: fixed;
//             right: 0;
//             bottom: 50px;
//             z-index: 101;
//         }
//         &__filtres {
//             display: block;
// position: absolute;
// // width: 100%;
// z-index: 100;
// background-color: #fff;
// left: 20px;
// top: 20px;
//         }
//     }

// }

@media (max-width: 1150px) {
    .shop-content__inner-list {
        .product-item {
            justify-content: center;
        }
    }
}
@media (max-width: 850px) {
    .product-item {
        padding-top: 0;
        flex-direction: column;
        &__img {
            margin-right: 0;
            margin-bottom: 20px;
            width: 100%;
            img {
                margin-bottom: 10px;
                margin: 0 auto;
            }
        }
        &__info {
            max-width: 100%;
            text-align: center;
        }
        &__text {
            width: 100%;
        }
        &__price {
            margin-bottom: 10px;
        }
        &__link-box {
            justify-content: center;
        }
    }
    .star__product {
        margin: 0 auto;
        width: 100%;
        margin-bottom: 10px;
    }
}
