@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
    padding: 50px 0;
    &__inner {
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
}
.menu {
    &__list {
        display: flex;
    }
    &__list-item + .menu__list-item {
        padding-left: 35px;
    }
    &__list-link {
        font-size: 15px;
        line-height: 12px;
        color: #436372;
        @extend %Rubik-500;
    }
}
.user-nav {
    display: flex;
    align-items: center;
    &__link-img3 {
        padding-right: 80px;
    }
    &__link-search {
        background-color: #edf1f4;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        position: relative;
        margin-right: 20px;
    }
    &__link-img {
        position: absolute;
        // height: 50%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        // width: 50%;
    }
    &__link-favorites {
        background-color: #fcd7b6;
        border-radius: 50px 0 0 50px;
        width: 90px;
        height: 50px;
        position: relative;
        &:after {
            content: "|";
            color: #fff;
            font-size: 32px;
            font-weight: normal;
            position: absolute;
            top: 3px;
            right: -5px;
        }
    }
    &__link-cart {
        background-color: #fcd7b6;
        border-radius: 0 50px 50px 0;
        width: 90px;
        height: 50px;
        position: relative;
        margin-right: 20px;
    }
    &__link-menu {
        background-color: #a3bbc8;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        position: relative;
    }
    &__num {
        position: absolute;
        font-size: 10px;
        line-height: 1.7;
        color: $default;
        width: 16px;
        height: 16px;
        background-color: #fff;
        border-radius: 50%;
        text-align: center;
        top: 7px;
        right: 25px;
    }
}

footer {
    font-size: 14px;
    line-height: 32px;
    color: #7b7b7b;
    @extend %Rubik-400;
}

.footer-top {
    padding: 0 0 75px 0;
    display: flex;
    justify-content: space-between;
    &__contact {
        width: 205px;
    }
    &__logo {
        display: block;
        margin-bottom: 30px;
    }
    &__adress,
    &__phone,
    &__email {
        display: block;
    }
    &__adress {
        line-height: 24px;
    }
    &__title {
        font-size: 16px;
        line-height: 50px;
        color: #1f2044;
        text-transform: uppercase;
    }
    &__text {
        max-width: 230px;
        line-height: 24px;
        margin-bottom: 35px;
    }
    &__form-input {
        border: none;
        background-color: #fff;
        font-size: 12px;
        padding: 0 10px 0 15px;
        &::placeholder {
            color: #234969;
        }
    }
    &__form-btn {
        padding: 8px 20px;
        line-height: 21px;
        color: #fff;
        background-color: #a3bbc8;
        border: none;
        @extend %DMSans-400;
    }
}
.footer-bottom {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #a3bbc8;
    padding: 30px 0;
    &__nav-items {
        display: flex;
    }
    &__nav-item + .footer-bottom__nav-item {
        // margin-left: 10px;
    }
    &__nav-symbol {
        padding: 0 10px 0;
        font-size: 16px;
    }
}
.top {
    padding: 0 0 110px;
    &__container {
        background-color: #edf1f4;
        text-align: center;
        height: 126px;
    }
    &__inner {
        padding: 35px 0 35px;
    }
}
.slider-top {
    &__inner {
        background-image: url(../images/slider/slider-top_bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 820px;
    }
    &__item {
        display: flex !important;
        justify-content: center;
        align-items: center;
    }
    &__title {
        padding-top: 220px;
        // padding-left: 300px;
        max-width: 430px;
        font-size: 72px;
        line-height: 70px;
        @extend %Rubik-500;
        margin-bottom: 40px;
        margin-right: 120px;
    }
    &__text {
        max-width: 360px;
        font-size: 18px;
        line-height: 30px;
        color: #436372;
        @extend %Rubik-400;
        margin-bottom: 40px;
    }
    &__link {
        font-size: 15px;
        line-height: 55px;
        @extend %Rubik-500;
        color: #fff;
        background-color: #a3bbc8;
        // background-image: url(../images/slider/arrow.png);
        // background-repeat: no-repeat;
        padding: 25px 15px 21px 27px;
    }
    &__img {
        padding-top: 270px;
    }
    &__link-text {
        background: url(../images/slider/arrow.png) right no-repeat;
        padding: 0 80px 0 0;
    }
}
.slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    li {
        padding: 0 5px;
        font-size: 11px;
        line-height: 9px;
        @extend %Rubik-500;
        button {
            border: none;
            width: 30px;
            height: 30px;
            background-color: #fff;

            border-radius: 50%;
            opacity: 0.4;
        }
        &.slick-active {
            button {
                opacity: 100;
            }
        }
    }
}
.info {
    &__items {
        padding: 45px 0 70px;
        display: flex;
        justify-content: space-around;
        background-color: #fef7f0;
        background-image: url("../images/info-bg.svg");
        background-position: top center;
    }
    &__item {
        display: flex;
    }
    &__item-img {
        padding-right: 25px;
        padding-top: 5px;
    }
    &__item-info {
        max-width: 220px;
    }
    &__item-title {
        font-size: 18px;
        // line-height: 40px;
        margin-bottom: 5px;
        color: #414141;
    }
    &__item-text {
        line-height: 30px;
        color: #585858;
        @extend %DMSans-400;
    }
}
.title-product {
    color: #191919;
    margin-bottom: 25px;
}
.product {
    padding: 70px 0 90px;
    text-align: center;
    &__top {
        text-align: center;
    }
    &__btn {
        border: none;
        background-color: #fff;
        color: #8b8b8b;
        margin-bottom: 80px;
        &.mixitup-control-active {
            color: #1a1a1a;
        }
    }
    &__content {
        display: grid;
        grid-template-columns: repeat(4, 270px);
        grid-template-rows: repeat(2, 380px);
        column-gap: 30px;
        row-gap: 40px;
    }
    &__item {
        // margin: 0 auto;
        display: grid;
        // grid-template-rows: 300px 1fr 1fr;
        // grid-auto-flow: row;
        grid-template: 290px 30px 30px/ 1fr;
        align-items: center;
        justify-items: center;
        position: relative;
        overflow: hidden;
        &__link-box {
            position: absolute;
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 170px;
            margin: 0 auto;
            transform: translateY(500%);
            transition: all 0.3s;
        }
        &:hover {
            .product__item__link-box {
                transform: translateY(0);
            }
        }
        &__link,
        &__btn {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: #fff;
            width: 45px;
            height: 45px;
            transition: all 0.3s;
            &:hover {
                background-color: #a3bbc8;
                path {
                    fill: #fff;
                }
            }
        }
        &__btn {
            border: none;
        }
    }
    &__item-img {
        align-self: center;
        justify-self: center;
    }
    &__item-name {
        @extend %DMSans-500;
        line-height: 40px;
    }
    &__item-price {
        color: #a3bbc8;
        // padding-bottom: 30px;
    }
}
.product-popup {
    padding: 185px 0 50px;
    &__items {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        display: flex;
        justify-content: center;
        background-color: #feefe2;
        // background-color: #ffab62;
        width: 870px;
        height: 390px;
        align-items: center;
        position: relative;
    }
    &__item-img {
        margin-right: 30px;
        margin-bottom: 180px;
        // position: absolute;
        // top: 0;
    }
    &__item-info {
        max-width: 330px;
    }
    &__item-title {
        font-size: 26px;
        line-height: 32px;
        margin-bottom: 15px;
    }
    &__item-text {
        line-height: 30px;
        @extend %Rubik-400;
        margin-bottom: 30px;
    }
    &__item-link {
        border: 1px solid #b3b7b5;
        padding: 20px 86px 20px 20px;
        background-color: transparent;
        border-radius: 5px;
        color: #436372;
        @extend %Rubik-500;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            right: 18px;
            top: 24px;
            width: 22px;
            height: 9px;
            background-image: url("../images/icons/arrow.svg");
            background-repeat: no-repeat;
        }
    }
}
.design {
    padding: 50px 0 60px;
    &-content {
        display: grid;
        grid-template-columns: repeat(3, 370px);
        grid-template-rows: repeat(2, 246px);
        grid-gap: 30px;
    }
    &-item {
        background-repeat: no-repeat;
        background-position: right;
        // overflow: hidden;
        padding: 35px 0 35px 35px;

        &__name {
            max-width: 165px;
            margin-bottom: 10px;
        }
        &__name-link {
            font-size: 20px;
            color: #1a1a1a;
        }
        &__link {
            color: #a3bbc8;
        }
    }
}
.video {
    padding: 60px 0;
    &-inner {
        height: 500px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.blog {
    padding: 50px 0 50px;
}
.blog-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
    &__link {
        font-size: 16px;
        color: #262626;
    }
}
.blog-items {
    display: flex;
    justify-content: space-between;
}
.blog-item {
    &__img {
        margin-bottom: 30px;
        object-fit: cover;
    }
    &__box {
        max-width: 315px;
        padding-left: 30px;
        position: relative;
    }
    &__title {
        font-size: 18px;
        color: #262626;
        @extend %DMSans-500;
        margin-bottom: 15px;
        height: 80px;
    }
    &__info {
        font-size: 12px;
        line-height: 30px;
        text-transform: uppercase;
        @extend %Rubik-400;
        color: #222933;
        border-top: 1px solid #e0e0e0;
        padding-top: 20px;
    }
    &__date {
        margin-right: 30px;
    }
    &__author,
    &__date {
        @extend %Rubik-400;
        color: #222933;
    }
    &__box--news {
        position: absolute;
        top: -46px;
        left: 28px;
        font-size: 14px;
        line-height: 20px;
        color: #fff;
        border-radius: 15px;
        background-color: #a3bbc8;
        padding: 5px 31px;
        text-transform: uppercase;
        @extend %Rubik-500;
    }
    &__img-info {
        display: inline-block;
        vertical-align: sub;
        margin-right: 5px;
    }
}
.partners {
    padding: 80px 0 160px;
    background-color: #fef7f0;
    &__list {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}
.modal {
    padding: 0 0 120px;
    &__inner {
        margin: 0 auto;
        max-width: 470px;
        color: #436372;
        font-size: 14px;
        @extend %Rubik-400;
    }
    &__label {
        display: block;
        margin-bottom: 15px;
    }
    &__input {
        padding: 0 15px;
        display: block;
        background-color: #f6f6f6;
        border: none;
        width: 100%;
        height: 60px;
        margin-top: 10px;
    }
    &__btn {
        padding: 20px 0 20px;
        width: 100%;
        font-size: 18px;
    }
    &__btn-login {
        background-color: $accend;
        margin-bottom: 30px;
        color: #fffefe;
        border: none;
    }
    &__label-flex {
        display: flex;
    }
    &__error {
        margin-left: auto;
        margin-bottom: 50px;
    }
    &__text {
        text-align: center;
        margin-bottom: 20px;
    }
    &__btn-create {
        border: solid 2px #a3bbc8;
        background-color: #fff;
        @extend %Rubik-500;
    }
}
.terms {
    &__content {
        @extend %Rubik-400;
        line-height: 30px;
    }
    &__title {
        font-size: 24px;
        line-height: 40px;
        margin-bottom: 10px;
    }
    &__list {
        list-style-type: decimal-leading-zero;
        margin-left: 30px;
    }
    &__info {
        margin-bottom: 60px;
    }
    &__item {
        margin-bottom: 20px;
        padding-left: 5px;
    }
}
.mission {
    padding-bottom: 120px;
    &__inner {
        display: flex;
    }
    &__info {
        padding-left: 50px;
    }
    &__years {
        display: flex;
        padding: 50px 0 10px;
    }
    &__years-text {
        font-size: 140px;
        color: $accend;
        @extend %Rubik-700;
    }
    &__years-list {
        padding: 25px 0 0 25px;
        @extend %Rubik-400;
        line-height: 30px;
        align-self: center;
    }
    &__title {
        margin-bottom: 30px;
    }
    &__text {
        line-height: 30px;
        @extend %Rubik-400;
        margin-bottom: 60px;
    }
    &__awards-items {
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
        border-top: 1px solid #e6eaf0;
    }
    &__awards-item {
        display: flex;
    }
    &__award {
        padding-left: 20px;
    }
    &__awards-num {
        font-size: 36px;
        line-height: 38px;
    }
    &__awards-numtext {
        color: #4c4c4c;
        line-height: 17px;
    }
}
.progress {
    background-color: #fcd7b6;
    &__items {
        padding: 70px 0 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__item {
        margin: 0 auto;
        line-height: 32px;
        text-align: center;
    }
    &__img {
        padding-bottom: 20px;
        margin: 0 auto;
    }
    &__num {
        font-size: 36px;
        // margin-bottom: 25px;
    }
    &__text {
        font-size: 18px;
        margin-top: 5px;
    }
}
.team {
    padding: 100px 0 60px;
    &__inner {
        display: flex;
        justify-content: space-between;
        // align-items: center;
    }
    &__info {
        max-width: 310px;
        line-height: 30px;
    }
    &__info-text {
        @extend %Rubik-400;
        margin: 0 0 40px 0;
    }
    &__info-link {
        @extend %btn;
        border-radius: 5px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            right: 24px;
            top: 20px;
            width: 15px;
            height: 11px;
            background-image: url("../images/icons/arrow-btn.svg");
            background-repeat: no-repeat;
        }
    }
    &__info-title {
        margin-bottom: 25px;
        margin-top: 15px;
        color: $default;
    }
    &__photo {
        padding-left: 90px;
    }
    &__photo-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__photo-item {
        position: relative;
    }
    &__photo-name {
        font-size: 22px;
        line-height: 26px;
        color: #436372;
        margin-bottom: 10px;
    }
    &__photo-text {
        line-height: 30px;
        color: #565872;
        @extend %Rubik-400;
    }
    &__photo-img {
        margin-bottom: 100px;
    }
    &__photo-inner {
        position: absolute;
        bottom: 40px;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 20px 18px 20px;
        background-color: #fff;
        max-width: 325px;
        width: 100%;
        height: 110px;
    }
    &__photo-link {
        display: inline-block;
        // border-radius: 50%;
        // background-color: #f6f6f6;
        // width: 41px;
        // height: 41px;
        margin-left: 20px;
    }
    &__photo-link-img {
    }
}
.shop {
    padding-bottom: 100px;
    &__inner {
        display: flex;
        margin-bottom: 100px;
    }
    &__filtres {
        width: 270px;
    }
}
.filter__item {
    @extend %Rubik-400;
}
.filter__title {
    @extend %DMSans-700;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 25px;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        left: 109px;
        top: 50%;
        width: 38px;
        height: 2px;
        background-image: url("../images/icons/filter-after.svg");
    }
}
.filter-category {
    margin-bottom: 50px;
    &__input {
        @extend %checkbox-hidden;
        &:checked + .filter-category__checkbox {
            background-color: #edf1f4;
        }
    }
    &__label {
        cursor: pointer;
    }
    &__checkbox {
        padding: 12px 14px;
        background-image: url("../images/icons/filter-angle.svg");
        background-repeat: no-repeat;
        background-position: 93% 50%;
    }
}
.filter__title-price {
    &::after {
        content: "";
        left: 70px;
    }
}
.filter-price {
    margin-bottom: 80px;
    &__label {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
    }
}
.irs-from,
.irs-to,
.irs-max,
.irs-min {
    display: none;
}
.irs-bar {
    background-color: $accend;
}
.irs--flat .irs-line {
    background-color: #c2d2db;
    height: 2px;
}
.irs--flat .irs-bar {
    top: 25px;
    height: 3px;
    background-color: $accend;
}
.irs--flat .irs-handle {
    top: 19px;
    width: 15px;
    height: 15px;
    background-color: $accend;
}
.irs--flat .irs-handle > i:first-child {
    background-color: transparent;
}
.irs--flat .irs-handle.state_hover > i:first-child,
.irs--flat .irs-handle:hover > i:first-child {
    background-color: transparent;
}
.filter-brand {
    margin-bottom: 50px;
    &__input {
        @extend %checkbox-hidden;
        &:checked + .filter-brand__checkbox {
            background-color: #edf1f4;
            .filter-brand__text {
                color: $default;
            }
        }
    }
    &__checkbox {
        padding: 12px 14px;
        display: flex;
        justify-content: space-between;
    }
    &__text {
        width: 26px;
        text-align: center;
        color: #b3b3b3;
    }
}
.filter__title-brand {
    &::after {
        content: "";
        left: 80px;
    }
}
.filter__title-recent {
    &::after {
        content: "";
        left: 185px;
    }
}
.filter-recent {
    &__item {
        display: flex;
        margin-bottom: 30px;
    }
    &__info {
        // padding-right: 90px;
        color: #333;
    }
    &__title {
        font-size: 14px;
        @extend %Rubik-400;
        line-height: 15px;
        margin-bottom: 8px;
    }
    &__img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
    }
    &__price {
        @extend %Rubik-400;
        font-size: 15px;
    }
}
.star {
    margin-bottom: 8px;
    padding: 0;
}
.shop-content {
    padding-left: 50px;
    margin: 0 auto;
    &__inner {
        // display: flex;
        // flex-wrap: wrap;
        // justify-content: space-between;
        display: grid;
        grid-template-columns: repeat(3, 270px);
        grid-column-gap: 30px;
        grid-row-gap: 40px;
    }
}
.shop-content {
    &__inner-list {
        // display: grid;
        // grid-template-columns: repeat(1, 1fr);
        // display: flex;
    }
}
.product-item {
    @extend %Rubik-400;
    padding: 80px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__info {
        max-width: 435px;
        // overflow: hidden;
        // &:hover {
        //     background-color: #fff;
        //     .product-item__add {
        //         transform: translateX(0);
        //     }
        // }
    }
    &__img {
        width: 325px;
        margin-right: 80px;
    }
    &__name {
        font-size: 40px;
        line-height: 26px;
        color: #333;
        margin-bottom: 20px;
    }
    &__price {
        font-size: 30px;
        line-height: 45px;
        color: #333;
        margin-bottom: 25px;
    }
    &__text {
        line-height: 30px;
        margin-bottom: 30px;
    }
    &__link-box {
        display: flex;
        // position: relative;
        // overflow: hidden;
        // &:hover {
        //     .product-item__add {
        //         transform: translateX(0);
        //     }
        // }
    }
    &__link,
    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
    }
    &__add {
        position: absolute;
        text-transform: uppercase;
        color: #fff;
        font-size: 15px;
        background-color: $accend;
        padding: 19px 50px 20px 52px;
        border-radius: 5px;
        border: none;
        // transform: translateX(-200%);
        transition: all 0.3s;
        // opacity: 0;
        display: none;
    }
    &__link {
        border: none;
        cursor: pointer;
        background-color: $accend;
        margin-right: 10px;
        &:hover {
            // background-color: #fff;
            .product-item__add {
                // transform: translateX(0);
                // display: block;
            }
        }
    }
    &__btn {
        border: none;
        background-color: #fff;
    }
}
.star__product {
    margin-bottom: 25px;
}
.product-item__link:hover button {
    // transform: translateX(0);
    // opacity: 1;
}
.details {
    &__inner {
        display: flex;
        padding-bottom: 50px;
    }
}
.details-slider {
    width: 550px;
    margin-right: 70px;
    display: flex;
    &__thumb {
        width: 140px;
    }
    &__thumb-item {
        width: 140px;
        height: 160px;
        margin-bottom: 25px;
        margin-right: 25px;
        cursor: pointer;
        img {
            width: 140px;
            height: 160px;
            object-fit: contain;
        }
    }
    &__big {
        width: 387px;
        img {
            width: 387px;
            height: 530px;
            object-fit: none;
        }
    }
}
.details-info {
    @extend %Rubik-400;
    // width: 530px;
    .product-item__info {
        max-width: 540px;
    }
    &__btn {
        text-transform: uppercase;
        @extend %btn;
        border-radius: 5px;
        padding: 16px 50px 18px 52px;
        border: none;
        margin-left: 25px;
        margin-bottom: 55px;
        // @extend %Rubik-400;
    }
    &__list {
        line-height: 30px;
    }
    &__list-item a {
        @extend %Rubik-400;
        color: $default;
    }
    &__list-title {
        display: inline-block;
    }
}
.product-item__details {
    padding-top: 30px;
}
.jq-number {
    margin-left: 48px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    padding: 0 36px 0 0;
}
.jq-number__field {
    border: solid 1px #a3bbc8;
    @extend %Rubik-400;
    font-size: 15px;
    width: 50px;
    height: 53px;
}
.jq-number__field input {
    text-align: center;
    width: 50px;
    height: 53px;
    width: 100%;
    padding: 8px 9px;
    border: none;
    outline: none;
    background: none;
}
.jq-number__spin.minus {
    width: 50px;
    height: 53px;
    top: auto;
    bottom: 0;
    left: -49px;
    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 18px;
        width: 10px;
        height: 2px;
        border: none;
        background: #666;
    }
}
.jq-number__spin.plus {
    width: 50px;
    height: 53px;
    top: auto;
    bottom: 0;
    right: -13px;
    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 20px;
        width: 10px;
        height: 2px;
        border: none;
        background: #666;
    }
    &::after {
        content: "";
        position: absolute;
        top: 22px;
        left: 50%;
        width: 2px;
        height: 10px;
        border: none;
        background: #666;
    }
}
.jq-number__spin {
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 14px;
    border: solid 1px #a3bbc8;
    cursor: pointer;
}
.product-tabs {
    padding: 50px 0 60px;
    &__top {
        display: flex;
        justify-content: center;
        @extend %Rubik-500;
        font-size: 18px;
    }
    &__top-item {
        display: inline-block;
        width: 241px;
        height: 53px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        background-color: #edf1f4;
        border-radius: 5px;
        transition: all 0.3s;
        & + .product-tabs__top-item {
            margin-left: 13px;
        }
    }
    &__top-item--active {
        background-color: $accend;
        color: #fff;
    }
    &__content {
        @extend %Rubik-400;
        line-height: 30px;
    }
    &__content-item {
        display: none;
        &.product-tabs__content-item--active {
            display: block;
        }
    }
}
.related {
    padding: 60px 0 100px;
    &__title {
        margin-bottom: 70px;
    }
    &__items-swiper {
        position: relative;
        .slick-arrow {
            position: absolute;
            // z-index: 10;
            top: -115px;
            font-size: 0;
            width: 50px;
            height: 50px;
            border-radius: 5px;
            background-color: #fff;
            .slick-prev {
            }
            .slick-next {
            }
        }
    }
    &__item-swiper {
        text-align: center;
        img {
            width: 270px;
            height: 266px;
            object-fit: none;
        }
    }
}
.slick-arrow.slick-prev {
    border: solid 2px #edf1f4;
    right: 70px;
    background-image: url("../images/icons/arrow-prev.svg");
    background-repeat: no-repeat;
    background-position: center;
    &:hover {
        border: solid 2px $accend;
    }
}
.slick-arrow.slick-next {
    border: solid 2px #edf1f4;
    right: 2px;
    background-image: url("../images/icons/arrow-next.svg");
    background-repeat: no-repeat;
    background-position: center;
    &:hover {
        border: solid 2px $accend;
    }
}
.blog-page {
    @extend %Rubik-400;
    &__inner {
        display: flex;
    }

    &__content {
        width: 830px;
        padding-bottom: 60px;
    }

    &__item-link {
        display: block;
    }
    &__item-imgbox {
        position: relative;
        margin-bottom: 35px;
    }
    &__item-img {
        width: 830px;
        height: 500px;
        object-fit: cover;
    }
    .blog-item__info {
        position: absolute;
        bottom: 0;
        left: 0;
        display: inline-block;
        padding: 0;
        border: none;
        width: 275px;
        height: 71px;
        background-color: $accend;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        a {
            color: #fff;
        }
        .blog-item__date-day {
            margin-left: 5px;
        }
    }
    .product-popup__item-link {
        display: inline-block;
        border: 1px solid $accend;
        color: $accend;
        border-radius: 0;
        @extend %nunito-700;
        margin-bottom: 60px;
        &::after {
            content: "";
            top: 28px;
            background-image: url(../images/icons/arrow-next.svg);
        }
    }

    &__item-title {
        a {
            color: #333;
        }
        margin-bottom: 30px;
    }

    &__item-text {
        line-height: 30px;
        margin-bottom: 30px;
    }

    &__aside {
        margin-left: 65px;
        width: 270px;
    }
    &__form-input {
        height: 43px;
        padding: 0 15px;
        border-radius: 5px 0 0 5px;
        // border-right: none;
        border: solid 1px #edf1f4;
        margin-bottom: 55px;
    }
    &__form-btn {
        width: 48px;
        height: 43px;
        padding: 12px 15px 13px;
        border-radius: 5px;
        border: none;
        background-color: #edf1f4;
        margin-left: -5px;
        padding-top: 7px;
    }
    .pagination__left {
        margin: 0;
    }
}
.recent-posts {
    &__title {
        margin-bottom: 35px;
        &::after {
            content: "";
            position: absolute;
            left: 150px;
        }
    }

    &__item {
        display: flex;
        justify-content: space-between;
    }

    &__item-link {
        display: block;
        min-width: 70px;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    &__img {
        width: 70px;
        height: 70px;
        object-fit: cover;
    }

    &__box-title {
        font-size: 14px;
        line-height: 20px;
        color: #333;
        margin-bottom: 10px;
    }

    &__day {
        font-size: 12px;
        color: #9a9a9a;
        padding-left: 3px;
    }
}
.blog-one {
    &__item-info {
        line-height: 30px;
        h3 {
            font-size: 36px;
            color: #333;
            margin-bottom: 20px;
        }
        h5 {
            @extend %Rubik-500;
            font-size: 16px;
            margin-bottom: 25px;
        }
        p {
            margin-bottom: 40px;
        }
        blockquote {
            margin-bottom: 45px;
            padding: 20px 40px 10px 25px;
            border-left: 7px solid $accend;
            background-color: #edf1f4;
            p {
                margin: 10px 0 0 45px;
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    background-image: url("../images/before-bg.svg");
                    width: 20px;
                    height: 4px;
                    top: 14px;
                    left: -45px;
                }
            }
        }
    }
    &__left-img {
        float: left;
        width: 322px;
        height: 210px;
        margin-right: 30px;
    }
    &__item-imgbox {
        h4 {
            font-size: 18px;
            @extend %Rubik-500;
            margin-bottom: 10px;
            padding-top: 20px;
        }
        p {
            color: #565872;
        }
    }
    &__author {
        padding: 25px 0;
        border-top: 2px solid #ebebeb;
        border-bottom: 2px solid #ebebeb;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__author-content {
        display: flex;
        align-items: center;
    }

    &__author-img {
        width: 76px;
        height: 76px;
        margin-right: 25px;
    }

    &__author-name {
        font-size: 18px;
        color: #333;
        @extend %Rubik-500;
    }

    &__author-post {
        color: #666;
        font-size: 16px;
        @extend %Rubik-400;
        margin-bottom: 0;
        padding-top: 10px;
    }

    &__box {
        span {
            color: #333;
        }
    }

    &__tags {
        margin-bottom: 15px;
        span {
            margin-right: 30px;
        }
    }

    &__tags-link {
        color: #999;
        &:hover {
            color: $accend;
        }
    }

    &__social {
        span {
        }
    }
    &__social-link {
        margin-left: 20px;
        path {
            fill: #a1a1a1;
        }
        &:hover {
            path {
                fill: $accend;
            }
        }
    }
}
.comments {
    padding: 60px 0 65px;

    &__title {
        font-size: 24px;
        color: #436372;
        @extend %Rubik-700;
        margin-bottom: 50px;
    }

    &__item {
        display: flex;
        margin-bottom: 25px;
    }

    &__item--active {
        width: 700px;
        margin-left: auto;
        padding: 30px 0;
        border-top: 2px solid #e0e0e0;
        border-bottom: 2px solid #e0e0e0;
    }

    &__img {
        margin-right: 30px;
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

    &__item-top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    &__item-name {
        color: #436372;
        @extend %Rubik-700;
    }

    &__item-date {
        font-size: 14px;
        color: #9e9e9e;
    }

    &__item-text {
        color: #565872;
        line-height: 30px;
        margin-bottom: 15px;
    }

    &__item-link {
        font-size: 14px;
        color: #526278;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            width: 15px;
            height: 11px;
            top: 4px;
            right: -22px;
            background-image: url("../images/icons/arrow-reply.svg");
        }
    }
}
.comments-form {
    &__box-input {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        // position: relative;

        &::placeholder {
            color: #999;
        }
    }

    &__input {
        width: 400px;
        height: 50px;
        border: solid 1px #e5e5e5;
        padding: 10px 20px 10px 20px;
        // position: relative;
        &:hover {
            border: solid 1px $accend;
        }
    }

    &__input-name {
        background-image: url("../images/icons/form-user.svg");
        background-repeat: no-repeat;
        background-position: 96% 47%;
        // position: relative;
        // &::after{
        //     content: '';
        //     position: absolute;
        //     width: 14px;
        //     height: 14px;
        //     top: 0;
        //     bottom: 0;
        //     right: 0;
        //     background-image: url('../images/icons/form-user.svg');
        // }
    }

    &__input-email {
        background: url("../images/icons/form-letter.svg") no-repeat;
        background-position: 96% 47%;

        // position: relative;
        // &::after{
        //     content: '';
        //     position: absolute;
        //     top: 0;
        //     right: 0;
        //     width: 18px;
        //     height: 13px;
        //     background-image: url('../images/icons/form-letter.svg');
        // }
    }

    &__area {
        width: 100%;
        height: 120px;
        resize: none;
        border: solid 1px #e5e5e5;
        padding: 10px 20px 10px 20px;
        position: relative;
        background: url("../images/icons/form-popup.svg") no-repeat;
        background-position: 98% 14%;
        &:hover {
            border: solid 1px $accend;
        }
    }

    &__btn {
        margin-top: 40px;
        @extend %btn;
        border: none;
        padding: 19px 35px 20px;
        text-transform: uppercase;
    }
}
.contact-info {
    padding-bottom: 120px;
    text-align: center;
    &__subtitle {
        color: $accend;
        @extend %Rubik-700;
    }

    &__title {
        color: #436372;
        font-size: 35px;
        margin-bottom: 70px;
    }

    &__items {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        width: 370px;
        height: 383px;
        padding-top: 70px;
        path{
            fill: $accend;
        }
        &:hover{
            border: solid 2px $accend;
            path{
                fill: #fff;
            }
            .contact-info__item-img{
                border-radius: 20px;
                box-shadow: 0px 6px 57px 0 rgba(37, 37, 37, 0.05);
                background-color: #a3bbc8;
            }
        }
    }

    &__item-img {
        margin: 0 auto;
        width: 80px;
        height: 80px;
        margin-bottom: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .3s;

    }

    &__item-title {
        font-size: 20px;
        color: #222;
        margin-bottom: 20px;
    }

    &__item-info {
        line-height: 30px;
        color: #565872;
        @extend %Rubik-400;
    }
}
.contact-bottom{
    padding-bottom: 80px;
    input,textarea{
        border: none;
    }
    &__inner{
        display: flex;
        .comments-form__input{
            width: 300px;
        }
        .comments-form__area{
            width: 620px;
        }
        .comments-form__btn{
            border-radius: 5px;
        }
    }
}
#map{
    width: 500px;
    height: 334px;
    margin-left: 50px;
}









@import "media";
