@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
    padding: 50px 0;
    &__inner {
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
}
.menu {
    &__list {
        display: flex;
    }
    &__list-item + .menu__list-item {
        padding-left: 35px;
    }
    &__list-link {
        font-size: 15px;
        line-height: 12px;
        color: #436372;
        @extend %Rubik-500;
    }
}
.user-nav {
    display: flex;
    align-items: center;
    &__link-img3 {
        padding-right: 80px;
    }
    &__link-search {
        background-color: #edf1f4;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        position: relative;
        margin-right: 20px;
    }
    &__link-img {
        position: absolute;
        // height: 50%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        // width: 50%;
    }
    &__link-favorites {
        background-color: #fcd7b6;
        border-radius: 50px 0 0 50px;
        width: 90px;
        height: 50px;
        position: relative;
        &:after {
            content: "|";
            color: #fff;
            font-size: 32px;
            font-weight: normal;
            position: absolute;
            top: 3px;
            right: -5px;
        }
    }
    &__link-cart {
        background-color: #fcd7b6;
        border-radius: 0 50px 50px 0;
        width: 90px;
        height: 50px;
        position: relative;
        margin-right: 20px;
    }
    &__link-menu {
        background-color: #a3bbc8;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        position: relative;
    }
    &__num {
        position: absolute;
        font-size: 10px;
        line-height: 1.7;
        color: $default;
        width: 16px;
        height: 16px;
        background-color: #fff;
        border-radius: 50%;
        text-align: center;
        top: 7px;
        right: 25px;
    }
}

footer {
    font-size: 14px;
    line-height: 32px;
    color: #7b7b7b;
    @extend %Rubik-400;
}

.footer-top {
    padding: 0 0 75px 0;
    display: flex;
    justify-content: space-between;
    &__contact {
        width: 205px;
    }
    &__logo {
        display: block;
        margin-bottom: 30px;
    }
    &__adress,
    &__phone,
    &__email {
        display: block;
    }
    &__adress {
        line-height: 24px;
    }
    &__title {
        font-size: 16px;
        line-height: 50px;
        color: #1f2044;
        text-transform: uppercase;
    }
    &__text {
        max-width: 230px;
        line-height: 24px;
        margin-bottom: 35px;
    }
    &__form-input {
        border: none;
        background-color: #fff;
        font-size: 12px;
        padding: 12px 10px 12px 15px;
        &::placeholder {
            color: #234969;
        }
    }
    &__form-btn {
        padding: 8px 20px;
        line-height: 21px;
        color: #fff;
        background-color: #a3bbc8;
        border: none;
        @extend %DMSans-400;
    }
}
.footer-bottom {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #a3bbc8;
    padding: 30px 0;
    &__nav-items {
        display: flex;
    }
    &__nav-item + .footer-bottom__nav-item {
        // margin-left: 10px;
    }
    &__nav-symbol {
        padding: 0 10px 0;
        font-size: 16px;
    }
}
.top{
    padding: 0 0 110px;
    &__container{
        background-color: #edf1f4;
        text-align: center;
        height: 126px;
    }
    &__inner{
        padding: 35px 0 35px;
    }
}
.slider-top {
    &__inner {
        background-image: url(../images/slider/slider-top_bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 820px;
    }
    &__item {
        display: flex !important;
        justify-content: center;
        align-items: center;
    }
    &__title {
        padding-top: 220px;
        // padding-left: 300px;
        max-width: 430px;
        font-size: 72px;
        line-height: 70px;
        @extend %Rubik-500;
        margin-bottom: 40px;
        margin-right: 120px;
    }
    &__text {
        max-width: 360px;
        font-size: 18px;
        line-height: 30px;
        color: #436372;
        @extend %Rubik-400;
        margin-bottom: 40px;
    }
    &__link {
        font-size: 15px;
        line-height: 55px;
        @extend %Rubik-500;
        color: #fff;
        background-color: #a3bbc8;
        // background-image: url(../images/slider/arrow.png);
        // background-repeat: no-repeat;
        padding: 25px 15px 21px 27px;
    }
    &__img {
        padding-top: 270px;
    }
    &__link-text {
        background: url(../images/slider/arrow.png) right no-repeat;
        padding: 0 80px 0 0;
    }
}
.slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    li {
        padding: 0 5px;
        font-size: 11px;
        line-height: 9px;
        @extend %Rubik-500;
        button {
            border: none;
            width: 30px;
            height: 30px;
            background-color: #fff;

            border-radius: 50%;
            opacity: 0.4;
        }
        &.slick-active {
            button {
                opacity: 100;
            }
        }
    }
}
.info {
    &__items {
        padding: 45px 0 70px;
        display: flex;
        justify-content: space-around;
        background-color: #fef7f0;
        background-image: url("../images/info-bg.svg");
        background-position: top center;
    }
    &__item {
        display: flex;
    }
    &__item-img {
        padding-right: 25px;
        padding-top: 5px;
    }
    &__item-info {
        max-width: 220px;
    }
    &__item-title {
        font-size: 18px;
        // line-height: 40px;
        margin-bottom: 5px;
        color: #414141;
    }
    &__item-text {
        line-height: 30px;
        color: #585858;
        @extend %DMSans-400;
    }
}
.title-product {
    color: #191919;
    margin-bottom: 25px;
}
.product {
    padding: 70px 0 90px;
    text-align: center;
    &__top {
        text-align: center;
    }
    &__btn {
        border: none;
        background-color: #fff;
        color: #8b8b8b;
        margin-bottom: 80px;
        &.mixitup-control-active {
            color: #1a1a1a;
        }
    }
    &__content {
        display: grid;
        grid-template-columns: repeat(4, 270px);
        grid-template-rows: repeat(2, 380px);
        column-gap: 30px;
        row-gap: 40px;
    }
    &__item {
        // margin: 0 auto;
        display: grid;
        // grid-template-rows: 300px 1fr 1fr;
        // grid-auto-flow: row;
        grid-template: 290px 30px 30px/ 1fr;
        align-items: center;
        justify-items: center;
        position: relative;
        overflow: hidden;
        &__link-box {
            position: absolute;
            display: flex;
            justify-content: space-around;
            // align-items: center;
            width: 170px;
            margin: 0 auto;
            transform: translateY(500%);
            transition: all 0.3s;
        }
        &:hover {
            .product__item__link-box {
                transform: translateY(0);
            }
        }
        &__link {
            padding-top: 13px;
            border-radius: 50%;
            background-color: #fff;
            box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
            width: 45px;
            height: 45px;
            transition: all 0.3s;
            &:hover {
                background-color: #a3bbc8;
                path {
                    fill: #fff;
                }
            }
        }
    }
    &__item-img {
        align-self: center;
        justify-self: center;
    }
    &__item-name {
        @extend %DMSans-500;
        line-height: 40px;
    }
    &__item-price {
        color: #a3bbc8;
        // padding-bottom: 30px;
    }
}
.product-popup {
    padding: 185px 0 50px;
    &__items {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        display: flex;
        justify-content: center;
        background-color: #feefe2;
        // background-color: #ffab62;
        width: 870px;
        height: 390px;
        align-items: center;
        position: relative;
    }
    &__item-img {
        margin-right: 30px;
        margin-bottom: 180px;
        // position: absolute;
        // top: 0;
    }
    &__item-info {
        max-width: 330px;
    }
    &__item-title {
        font-size: 26px;
        line-height: 32px;
        margin-bottom: 15px;
    }
    &__item-text {
        line-height: 30px;
        @extend %Rubik-400;
        margin-bottom: 30px;
    }
    &__item-link {
        border: 1px solid #b3b7b5;
        padding: 20px 86px 20px 20px;
        background-color: transparent;
        border-radius: 5px;
        color: #436372;
        @extend %Rubik-500;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            right: 18px;
            top: 24px;
            width: 22px;
            height: 9px;
            background-image: url("../images/icons/arrow.svg");
            background-repeat: no-repeat;
        }
    }
}
.design {
    padding: 50px 0 60px;
    &-content {
        display: grid;
        grid-template-columns: repeat(3, 370px);
        grid-template-rows: repeat(2, 246px);
        grid-gap: 30px;
    }
    &-item {
        background-repeat: no-repeat;
        background-position: right;
        // overflow: hidden;
        padding: 35px 0 35px 35px;

        &__name {
            max-width: 165px;
            margin-bottom: 10px;
        }
        &__name-link {
            font-size: 20px;
            color: #1a1a1a;
        }
        &__link {
            color: #a3bbc8;
        }
    }
}
.video {
    padding: 60px 0;
    &-inner {
        height: 500px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.blog {
    padding: 50px 0 50px;
}
.blog-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
    &__link {
        font-size: 16px;
        color: #262626;
    }
}
.blog-items {
    display: flex;
    justify-content: space-between;
}
.blog-item {
    &__img {
        margin-bottom: 30px;
        object-fit: cover;
    }
    &__box {
        max-width: 315px;
        padding-left: 30px;
        position: relative;
    }
    &__title {
        font-size: 18px;
        color: #262626;
        @extend %DMSans-500;
        margin-bottom: 15px;
        height: 80px;
    }
    &__info {
        font-size: 12px;
        line-height: 30px;
        text-transform: uppercase;
        @extend %Rubik-400;
        color: #222933;
        border-top: 1px solid #e0e0e0;
        padding-top: 20px;
    }
    &__date {
        margin-right: 30px;
    }
    &__author,
    &__date {
        @extend %Rubik-400;
        color: #222933;
    }
    &__box--news {
        position: absolute;
        top: -46px;
        left: 28px;
        font-size: 14px;
        line-height: 20px;
        color: #fff;
        border-radius: 15px;
        background-color: #a3bbc8;
        padding: 5px 31px;
        text-transform: uppercase;
        @extend %Rubik-500;
    }
}
.partners {
    padding: 80px 0 160px;
    background-color: #fef7f0;
    &__list {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}
.modal{
    padding: 0 0 120px;
    &__inner{
        margin: 0 auto;
        max-width: 470px;
        color: #436372;
        font-size: 14px;
        @extend %Rubik-400;
    }
    &__label{
        display: block;
        margin-bottom: 15px;
    }
    &__input{
        padding: 0 15px;
        display: block;
        background-color: #f6f6f6;
        border: none;
        width: 100%;
        height: 60px;
        margin-top: 10px;
    }
    &__btn-login{
        background-color: $accend;
        padding: 23px 0 23px;
        width: 100%;
        margin-bottom: 30px;
        font-size: 18px;
        color: #fffefe;
        border: none;
    }
    &__label-flex{
        display: flex;
    }
    &__error{
        margin-left: auto;
        margin-bottom: 50px;
    }
    &__text{
        text-align: center;
        margin-bottom: 20px;
    }
    &__btn-create{
        border: solid 2px #a3bbc8;
        background-color: #fff;
        width: 100%;
        padding: 20px 0 20px;
        @extend %Rubik-500;
        font-size: 18px;
    }
}



@import "media";
