.header {
    padding: 50px 0;
    &__inner {
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
}
.menu {
    &__list {
        display: flex;
    }
    &__list-item + .menu__list-item {
        padding-left: 35px;
    }
    &__list-link {
        font-size: 15px;
        line-height: 12px;
        color: #436372;
        @extend %Rubik-500;
    }
    &__btn {
        display: none;
    }
}
.user-nav {
    display: flex;
    align-items: center;
    &__link-img3 {
        padding-right: 80px;
    }
    &__link-search {
        background-color: #edf1f4;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        position: relative;
        margin-right: 20px;
    }
    &__link-img {
        position: absolute;
        // height: 50%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        // width: 50%;
    }
    &__link-favorites {
        background-color: #fcd7b6;
        border-radius: 50px 0 0 50px;
        width: 90px;
        height: 50px;
        position: relative;
        &:after {
            content: "|";
            color: #fff;
            font-size: 32px;
            font-weight: normal;
            position: absolute;
            top: 3px;
            right: -5px;
        }
    }
    &__link-cart {
        background-color: #fcd7b6;
        border-radius: 0 50px 50px 0;
        width: 90px;
        height: 50px;
        position: relative;
        margin-right: 20px;
    }
    &__link-menu {
        background-color: #a3bbc8;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        position: relative;
    }
    &__num {
        position: absolute;
        font-size: 10px;
        line-height: 1.7;
        color: $default;
        width: 16px;
        height: 16px;
        background-color: #fff;
        border-radius: 50%;
        text-align: center;
        top: 7px;
        right: 25px;
    }
}

@media (max-width: 1050px) {
    .menu {
        order: 1;
        &__list {
            position: absolute;
            transform: translateY(-200%);
            width: 100%;
            top: 110px;
            left: 0;
            z-index: 5;
            flex-direction: column;
            align-items: center;
            transition: all .3s;
            &.menu__list--active {
                transform: translateY(0%);
                transition: all .3s;
                background-color: #fff;
            }
        }
        &__list-item + .menu__list-item{
            padding-left: 0;
        }
        &__list-item{
            // padding: 10px 0;
            width: 100%;
        }
        &__list-link{
            padding: 10px 0;
            width: 100%;
            display: block;
            &:hover{
                color: $accend;
            }
        }
        &__btn {
            width: 35px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            background-color: transparent;
            position: relative;
            padding: 0;
            cursor: pointer;
            span {
                height: 3px;
                background-color: $default;
                min-width: 100%;
            }
            &::before,
            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 3px;
                background-color: $default;
            }
            &::after {
                top: 0;
            }
            &::before {
                bottom: 0;
            }
        }
    }
    .user-nav{
        // flex-wrap: wrap;
        padding: 0 10px;
    }

}
@media (max-width: 545px) {
    .header__inner{
        flex-wrap: wrap;
    }
    .user-nav{
        // justify-content: flex-end;
        margin: 0 auto;
        // flex-wrap: wrap;
        // padding: 0 10px;
        padding-top: 15px;
    }
    .menu{
        order: 0;
    }
}
@media (max-width: 370px) {
    .user-nav{
        padding: 15px 0 0 0;
    }
    .user-nav__link-search,
    .user-nav__link-cart {
        margin: 0;
    }

}
