<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glee</title>
    <link href="css/index.min.css" rel="stylesheet">
</head>

<body>

    {% include 'app/module/_header/_header.html' %}

    <main class="main">

        {% include 'app/module/_slider-top/_slider-top.html' %}
        {% include 'app/module/_info/_info.html' %}
        {% include 'app/module/_product/_product.html' %}
        {% include 'app/module/_product-popup/_product-popup.html' %}
        {% include 'app/module/_design/_design.html' %}
        {% include 'app/module/_video/_video.html' %}
        {% include 'app/module/_blog-min/_blog-min.html' %}
        {% include 'app/module/_partners/_partners.html' %}

    </main>

    {% include 'app/module/_footer/_footer.html' %}

    <script src="js/main.min.js"></script>
</body>

</html>