<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glee</title>
    <link href="css/shop-1.min.css" rel="stylesheet">
</head>

<body>
    {% include 'app/module/_header/_header.html' %}

    <main class="main">

            {% include 'app/module/_shop-1_top/_shop-1_top.html' %}

        <section class="shop">
            <div class="container">
                <div class="shop__inner">
                    <div class="shop__filtres">

                        {% include 'app/module/_filter-category/_filter-category.html' %}
                        {% include 'app/module/_filter-price/_filter-price.html' %}
                        {% include 'app/module/_filter-brand/_filter-brand.html' %}
                        {% include 'app/module/_filter-recent/_filter-recent.html' %}

                    </div>

                    {% include 'app/module/_shop-grid/_shop-grid.html' %}

                </div>
                <button class="shop__filter-btn">
                <img src="images/icons/filter_ico.svg" alt="">
                </button>
              {% include 'app/module/_pagination/_pagination.html' %}

               {% include 'app/module/_partners/_partners.html' %}

            </div>

        </section>

    </main>

    {% include 'app/module/_footer/_footer.html' %}

    <script src="js/main.min.js"></script>
</body>

</html>