<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glee</title>
    <link href="css/shop-2.min.css" rel="stylesheet">
</head>

<body>
    {% include 'app/module/_header/_header.html' %}

    <main class="main">

        {% include 'app/module/_shop-2_top/_shop-2_top.html' %}

        <section class="shop">
            <div class="container">
                <div class="shop__inner">
                    <div class="shop__filtres">

                        {% include 'app/module/_filter-category/_filter-category.html' %}
                        {% include 'app/module/_filter-price/_filter-price.html' %}
                        {% include 'app/module/_filter-brand/_filter-brand.html' %}
                        {% include 'app/module/_filter-recent/_filter-recent.html' %}

                    </div>

                    <div class="shop-content shop-content__list">

                        {% include 'app/module/_shop-line/_shop-line.html' %}

                        {% include 'app/module/_pagination_left/_pagination_left.html' %}

                    </div>
                </div>
            </div>

        </section>

    </main>

    {% include 'app/module/_footer/_footer.html' %}

    <script src="js/main.min.js"></script>
</body>

</html>