<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glee</title>
    <link href="css/terms&conditions.min.css" rel="stylesheet">
</head>

<body>
    {% include 'app/module/_header/_header.html' %}

    <main class="main">

        {% include 'app/module/_top-terms/_top-terms.html' %}

        <section class="terms">
            <div class="container">
                <div class="terms__content">
                    <div class="terms__info">
                        <h4 class="terms__title">Types of Personal Information We Collect</h4>
                        <ol class="terms__list">
                            <li class="terms__item">
                                Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                                velit esse cillum dolore
                            </li>
                            <li class="terms__item">
                                Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                                velit esse cillum dolore
                            </li>
                            <li class="terms__item">
                                Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                aliqua.
                            </li>
                            <li class="terms__item">
                                Dagna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                aliquip ex ea commodo consequat.
                            </li>
                            <li class="terms__item">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            </li>
                        </ol>
                    </div>
                    <div class="terms__info">
                        <h4 class="terms__title">How marketpmss.com Collects Personal Infonnation</h4>
                        <p class="terms__text">
                            consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore
                        </p>
                    </div>
                    <div class="terms__info">
                        <h4 class="terms__title">How marketpmss.com Collects Personal Infonnation</h4>
                        <p class="terms__text">
                            consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore
                        </p>
                    </div>
                </div>
            </div>
        </section>

        {% include 'app/module/_blog-min/_blog-min.html' %}

        {% include 'app/module/_partners/_partners.html' %}

    </main>

    {% include 'app/module/_footer/_footer.html' %}

    <script src="js/main.min.js"></script>
</body>

</html>