.video {
    padding: 60px 0;
    &-inner {
        height: 500px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-position: center center;
    }
}
@media (max-width: 650px) {
    .video{
        &-inner{
            height: 300px;
            background-size: cover;
        }
    }
}
